@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

.inner{
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
  }

ul.hr {
    margin: 0; 
    padding: 4px; 
   }

ul.hr li {
    display: inline; 
    margin-right: 5px; 
   }

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
 



